.footer 
    .container
        .row.justify-content-center.align-items-center.pb-3
            span.col-4.mb-3.mb-md-0
                a(href="index.html")
                    .logo
                    |Kallyas
            ul.list-unstyled.col-md.col-12.text-md-end.text-center.m-0
                li
                    a(href='ourservices.html') Our Services
                li
                    a(href='ourclients.html') Our Clients
                li
                    a(href='aboutus.html') About Us
                li
                    a(href='contactus.html') Contact Us
    .copy.text-center
        |&copy; 2021 Deuce Company. All right reserved.
