.our-team.text-center
    .container 
        h2 The faces behind your success
        p We couldn't do it without them.
        .row.g-4.justify-content-center
            +ourteams(myTeams)
            .col-lg-3.col-md-4.col-6
                .last.w-100 
                    .logo
                    h4 Work With Us
                