.plans.text-center
    .container 
        h2 Choose your plan 
        p 
            |These are some images with the best projects we have done so far. There will be 
            br 
            |many more coming in the near future.
        .row.g-4.justify-content-center
            +plans(plans)