.testimonials.py-2.pt-5
    .container 
        .row.align-items-center
            +descBox(testiDesc)
            .col
                .testiBox
                    +tistimonials(myClients)
                
