//define home page
- const homePageDesc = {}
- homePageDesc.icon = {title: "The best alternative to grow your business", desc: {}, small:"See more informations"}
- homePageDesc.icon.desc = {first: "Other firms waste your time and budget guessing at which content will get traction with your audience and stick in results.", sec: "We are a digital content agency that tears through search data to find lucrative ranking opportunities we know you can capture. Then, we create content your competitors can’t match, with coverage they can only envy."}
- homePageDesc.first = {title: "Easy to manage your business with your phone", desc: {}, small: "See how it works"}
- homePageDesc.first.desc = {first: "This is the point where the brand, the technology and marketing strategy find the perfect balance to achieve the organisation’s goals.", sec: "We work with attention every day to make you an easy, clean and fast services that you will enjoy with your loved ones and which will grow your business very fast. We create beautiful designs that reflect a brands ambition."}
- homePageDesc.sec = {title: "Safe plans and strategies to grow your business fast", desc: "", small: "Get Started"}
- homePageDesc.sec.desc = {first: "We identify and personalize your target group. We examine the expectations of your clients and the context which they use them from your product. We design th best way to meet your customers needs.", sec: "We are building a map of the inital state. We analyze ideas from different perspectives."}

//define our serivces
-const servicesDesc = {title: "We provide the best IT Solutions", desc: {}, small: "See more informations"}
- servicesDesc.desc.first = "Other firms waste your time and budget guessing at which content will get traction with your audience and stick in results."
- servicesDesc.desc.sec = "We are a digital content agency that tears through search data to find lucrative ranking opportunities we know you can capture. Then, we create content your competitors can’t match, with coverage they can only envy."
- servicesDesc.desc.third = "It’s SEO-focused, customer-centric content - and it’s hugely effective,"

//define testimonials
- const testiDesc = {title: "Our happy customers says about us", desc: {}, small: "See more informations"}
-testiDesc.desc = {first: "There is some success stories from our happy customers. We work carefully and hard everyday to give you the best and the cleanest services in the world."}

//define about us
- const aboutDesc = {title: "How it all started in 2015?", desc: {}, small: "See more informations"}
-aboutDesc.desc.first = "Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgroveright at the coast of the Semantics, a large language ocean."
-aboutDesc.desc.sec = "A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life"
-aboutDesc.desc.third = "One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen."

//define our clients
- const clientsDesc = {title: "Join us and be part of our success", desc: {}, small: "See more informations"}
-clientsDesc.desc = {first: "What started as a tiny team mostly dedicated to design has grown to be a creative agency with a diverse skillset.", sec: "We want to create awesome and inspiring work, aligning creative strategy with exceptional results."}
