//define my clients
- const myClients = []
- myClients.push({image:"loc", name: "Xuân Lộc Osc", desc: "“This company helps you easily grow your business or idea with his skills. He provides special and unique services.”"})
- myClients.push({image:"waleed", name: "Waleed Abd-Elrady", desc: "“This company helps you easily grow your business or idea with his skills. He provides special and unique services.”"})
- myClients.push({image:"ahmed", name: "Ahmed Abd-Elrady", desc: "“This company helps you easily grow your business or idea with his skills. He provides special and unique services.”"})
- myClients.push({image:"abdalla", name: "Abdalla Mowad", desc: "“This company helps you easily grow your business or idea with his skills. He provides special and unique services.”"})
