//define Main features
-const features= {main: {}, extra: {}}
- features.main.first = {title: "Ui/Ux Design", desc: "Landing Pages, User Flow, Wireframing, Prototyping", fs:"laptop-code", color:"#eb7b7b"}
- features.main.sec = {title: "Branding", desc: "Direct Marketing, Sales Promotion, Clean Design",fs:"code-branch", color:"#eed977"}
- features.main.third = {title: "Product Design", desc: "Synthesis, Clean Concepts, Engineering Design",fs:"diagnoses", color:"#6c73df"}
- features.main.fourth = {title: "Marketing", desc: "Research, Strategies, Promotions, Distribution", fs:"bullhorn", color:"#77eeb7"}

//define Extra features
- features.extra.first = {title: "Seo", desc: "Landing Pages, User Flow, Wireframing, Prototyping", fs:"hashtag", color:"#A03C78"}
- features.extra.sec = {title: "Social Media", desc: "Direct Marketing, Sales Promotion, Clean Design", fs:"users", color:"#B5EAEA"}
- features.extra.third = {title: "Strategy", desc: "Landing Pages, User Flow, Wireframing, Prototyping", fs:"clipboard-list", color:"#C2B8A3"}
- features.extra.fourth = {title: "Digital Consulting", desc: "Direct Marketing, Sales Promotion, Clean Design", fs:"digital-tachograph", color:"#C67ACE"}
- features.extra.fifth = {title: "PPC", desc: "Synthesis, Clean Concepts, Engineering Design", fs:"eye-dropper", color:"#4C4C6D"}
- features.extra.sexth = {title: "Content Marketing", desc: "Research, Strategies, Promotions, Distribution", fs:"ad", color:"#965D62"}
- features.extra.seventh = {title: "Research", desc: "Synthesis, Clean Concepts, Engineering Design", fs:"search", color:"#FFC074"}
- features.extra.eighth = {title: "Graphic Design", desc: "Research, Strategies, Promotions, Distribution", fs:"adjust", color:"#4A503D"}
