//define my Info
-const contacts = {state: "DE", city: "Dover", street: "8 The Green St, Suite 4753", phone:"+542 8842 941", email:"support@business.com", socialMedia: {}}
- contacts.socialMedia.instagram = ['instagram', 'https://www.instagram.com/']
- contacts.socialMedia.facebook = ['facebook-f', 'https://www.facebook.com/']
- contacts.socialMedia.twitter = ['twitter', 'https://www.twitter.com/']
- contacts.socialMedia.linkedin = ['linkedin-in', 'https://www.linkedin.com/']
