//define my partners icons
- const partnersImg = ['img/partners/visa.png', 'img/partners/dribbble.png', 'img/partners/paypal.png', 'img/partners/themeforest.png', 'img/partners/kallyas.png', 'img/partners/volo.png', 'img/partners/movmt.png', 'img/partners/wordpress.png', 'img/partners/envato.png']
