//define My plans
- const plans = {}
- plans.first = {title: "Personal", features: "", price: "$24.99"}
- plans.first.features = {first:'1/4 Users', sec:'24/7 Support', third:'Customer Experience'}
- plans.sec = {title: "Team", features: "", price: "$54.99", best: "best"}
- plans.sec.features = {first:'5/14 Users', sec:'24/7 Support', third:'Customer Experience'}
- plans.third = {title: "Corporate", features: "", price: "$74.99"}
- plans.third.features = {first:'15/30 Users', sec:'24/7 Support', third:'Customer Experience'}
