//define my projects
-const myProjects = {}
- myProjects.first = {link: 'img/homepage/projects/first.png'}
- myProjects.sec = {link: 'img/homepage/projects/sec.png'}
- myProjects.third = {link: 'img/homepage/projects/third.png'}
- myProjects.fourth = {link: 'img/homepage/projects/fourth.png'}
- myProjects.fifth = {link: 'img/homepage/projects/fifth.png'}