//define my teams infos
- const myTeams = []
- myTeams.push({ img: "img/aboutus/myteam/james.jpg", name: "James Powell", job: "Art Director"})
- myTeams.push({ img: "img/aboutus/myteam/bryan.jpg", name: "Bryan Foster", job: "Front-End Developer"})
- myTeams.push({ img: "img/aboutus/myteam/susan.jpg", name: "Susan Boone", job: "Seo Specialist"})
- myTeams.push({ img: "img/aboutus/myteam/kiara.jpg", name: "Kiara Mikey", job: "Ux Designer"})
- myTeams.push({ img: "img/aboutus/myteam/lisa.jpg", name: "Lisa Smith", job: "Strategy Dreamer"})
- myTeams.push({ img: "img/aboutus/myteam/kem.jpg", name: "Kem Ryan", job: "Digital Consultant"})
- myTeams.push({ img: "img/aboutus/myteam/thomas.jpg", name: "Thomas Reed", job: "Senior Designer"})