.headLine {
  color: $headerMainColor;
  padding: 40px 0 140px;
  @include media-breakpoint-down(lg) {
    padding-bottom: 50px;
  }
  h2 {
    @extend %mainHeader;
    margin: 0;
  }
  p {
    color: $pMainColor;
    line-height: 1.7;
    font-size: 1.2rem;
  }
  @include media-breakpoint-down(md) {
    p {
      font-size: 1rem;
    }
  }
  @if $pageTitle == 'homepage' {
    h4 {
      font-weight: 400;
      letter-spacing: 2px;
      font-size: 2.5rem;
    }
    @include media-breakpoint-down(md) {
      h4 {
        font-size: 1.8rem;
      }
    }
    p {
      margin: 30px 0 30px;
      width: 70%;
    }
    a {
      @include button($logoColor, $btnGradientBg);
    }
    .image {
      border-radius: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 15px solid #fff;
      @extend %overlay;
      z-index: 999;
      width: 80%;
      height: 100%;
      overflow: hidden;
      box-shadow: 0px 0px 14px 0px $pSecColor;
      div {
        position: absolute;
        @include logo(#fff !important);
        z-index: 333;
        .logo {
          height: 120px;
          width: 100px;
          margin-right: 26px;
          span {
            right: -26px;
          }
        }
      }
      &:after {
        z-index: 23;
      }
    }
  } @else {
    P {
      margin: 20px auto;
      width: 50%;
      @include media-breakpoint-down(lg) {
        width: 80%;
      }
    }
  }
}
