.container
    form.row.g-3(style="overflow:hidden")
        .col-6
            input.w-100(type="text" placeholder="First name")
        .col-6
            input.w-100(type="text" placeholder="Last name")
        .col-6
            input.w-100(type="text" placeholder="Phone number")
        .col-6
            input.w-100(type="email" placeholder="Email address")
        .col-12
            textarea.w-100(placeholder="Your message")
        button Submit